<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Da Carlo Template</title>

    <!-- define viewport to ensure no horizontal scroll -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- include stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- include google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i"rel="stylesheet">
    <style>

      @media screen and (min-width: 960px){

        .right{
          margin-top: -8rem;
          z-index: 2;
        }
        .left{
          margin-top: -2rem;
        }
      }


    </style>

  </head>

  <script>

  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  </script>

  <body>

    <!-- page header and global navigation -->
    <header>
      <!-- logo -->
      <h1 id="logo">Da Carlo Catering</h1>
      <div id="main-nav-toggler">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav id="main-nav">
        <ul>
          <li><a class="active" href="#">Hjem</a></li>
          <li><a href="#">Catering</a></li>
          <li><a href="#">Kantine</a></li>
          <li><a href="#">Om</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <!-- page content -->
    <main>
      <section class="intro">
        <div class="container">
          <h2>Velkommen</h2>
          <p>We are a small group of professional chefs that take great pride in delivering delicious, savory food with inspiration from our home country. The chefs are born in Chile, Uruguay and Italy and we have brought our food traditions to Norway.
          </p>
        </div>
      </section>

      <section class="row">
        <div class="container">
          <div class="box left">
            <div class="text-wrapper">
              <h3>Catering</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="button">Se vår cateringmeny</a>
            </div>
          </div>
          <figure>
            <img src="img/en-kokk.jpg" alt="" />
          </figure>
          <div class="box right tight dark">
            <div class="text-wrapper">
              <blockquote cite="http://nets.no">
                <p>Da Carlo leverer ikke bare mat, men en opplevelse!</p>
                <footer>Marie Nelsvik, i Nets strømmen</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </section>

      <section class="row">
        <div class="container">
          <div class="box left blue">
            <div class="text-wrapper">
              <h3>Kantine</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="button">Se vår kantinemeny</a>
            </div>
          </div>
          <figure>
            <img src="img/en-kokk.jpg" alt="" />
          </figure>
        </div>
      </section>

      <section class="row">
        <div class="container">
          <div class="box right">
            <div class="text-wrapper">
              <h3>Om oss</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="button">Les mer om oss</a>
            </div>
          </div>
        </div>
      </section>

      <section class="row">
        <div class="container">
          <div class="box full dark">
            <div class="text-wrapper">
              <h3>Kontakt oss</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="button">Send epost</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- call to action -->
    <section class="cta">
      <div class="container">
        <p>Ta kontakt for et uforpliktende tilbud.</p>
        <h4>+47 973 27 322, post@dacarlo.no</h4>
        <a href="#" class="button">Kontakt oss</a>
      </div>
    </section>

    <!-- page footer -->
    <footer>
      <div class="container">
        <p> <i>
        “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.”
      </p></i>
      <p>- J.R.R Tolkien </p>
          <!-- navbar -->

          <!-- logo -->

          <!-- copyright -->
          <p>2016 © Da Carlo Catering</p>


      </div>
    </footer>

    <!-- include javascript files in end of body, so we don't have to care
         about cross browser dom-ready crap -->
    <script src="js/sticky-header.js"></script>
    <script src="js/mobile-menu-toggler.js"></script>
  </body>
</html>
