<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Da Carlo Catering - Kantine</title>

    <!-- define viewport to ensure no horizontal scroll -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- include stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- include google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i"rel="stylesheet">

    <!-- page specific styles for kantine.html -->
    <link rel="stylesheet" href="css/style-kantine.css">

  </head>
  <script>

  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  </script>

  <body>

    <!-- page header and global navigation -->
    <header>
      <!-- logo -->
      <h1 id="logo">Da Carlo Catering</h1>
      <div id="main-nav-toggler">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav id="main-nav">
        <ul>
          <li><a class="active" href="#">Hjem</a></li>
          <li><a href="#">Catering</a></li>
          <li><a href="#">Kantine</a></li>
          <li><a href="#">Om</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <!-- page content -->
    <main>
      <section class="intro">
        <div class="container">
          <div id="text-wrapper">
            <h2>Kantine</h2>
            <p id= "introtext">Hva har du lyst på til lunsj idag? Våre kokker har lang erfaring innen kantinedrift, matservering til møter og matservering ved ulike arrangement. Vår målsetning er å servere variert, sunn og delikat mat basert på gode råvarer. Vi ønsker i tillegg at den latinske matkulturen vi bærer med oss, kan sette preg på maten som serveres og ved å ha evnen til å improvisere vil vi kunne tilby et vidt spekter av retter.
            </p>
            <p>
              Vi ønsker å tilby et variert og spennende mattilbud gjennom planlagte konsepter. I kantina skal gjestene innta et godt måltid og oppleve at vi tilstreber å dekke flest mulig smaksretninger og behov. Gode råvarer, fokus på ernæring og respekt for årstidens variasjon er i den sammenheng viktig. De bærende elementene i kantinedriften kan feks være salatbuffet, varmmat, brød buffet, påsmurt mat og i tillegg temadager.
            </p>
            <p>
              Hver bedrift har sine ulike behov og vi i Da Carlo er opptatt av et aktivt samarbeid for å finne frem til gode løsninger og skreddersy et konsept som kan imøtekomme akkurat deres ønsker og preferanser. Ta kontakt for nærmere informasjon. Vi er en samarbeidspartner du kan stole på.

            </p>
          </div>
        </div>

      </section>

      <section class="row">
        <div class="container">
          <div class="box left">
            <div class="text-wrapper">
              <h3>Kantinedrift Nets Skøyen</h3>
              <p>"Jeg har vært så heldig å nyte godt av din matlaging gjennom mange år i jobbsammenheng, og det jeg savner mest ved å bytte arbeidssted er din "signatur" på maten. Du holder høy standard, Carlos! Takk skal du ha."</p>
              <footer> Kåre Gundersen <br> Tidligere ansatt i Nets </footer><br>
              <img id= "nets-logo" src="img/netts.png" alt="" height="30px" />
            </div>
          </div>
          <figure>
            <img src="img/kantine1_skoyen.jpg" alt="" />
          </figure>
        </div>
      </section>

      <section class="row">
        <div class="container">
          <div class="box left dark">
            <div class="text-wrapper">
              <h3>Kantinedrift Nets Rommen</h3>
              <p>"Jeg kan trygt anbefale Carlos som kokk til både lunsj i kantina, julebord på jobben, til og med på en så stor dag som bryllup kan Carlos imponere og tilfredsstille dine krav og ønsker. Du blir alltid møtt med et smil av en kokk med en inderlig arbeidsmoral og ønske å om gi kundene den beste opplevelsen." </p>
                <footer>Eline Andresen <br> Ansatt i Nets </footer><br>
                <img id= "nets-logo" src="img/netts.png" alt="" height="30px" />
            </div>
          </div>
          <figure>
            <img src="img/kantine2_rommen.jpg" alt="" />
          </figure>
        </div>
      </section>

    </main>

    <!-- call to action -->
    <section class="cta">
      <div class="container">
        <p>Ta kontakt for et uforpliktende tilbud.</p>
        <h4>+47 973 27 322, post@dacarlo.no</h4>
        <a href="#" class="button">Kontakt oss</a>
      </div>
    </section>



    <!-- include javascript files in end of body, so we don't have to care
         about cross browser dom-ready crap -->
    <script src="js/sticky-header.js"></script>
  </body>
</html>
