/* ==========================================================================
 *
 *   Page specific style sheet for om.html
 *
 * ========================================================================== */

/* Background image */
body {
  background-image: url('../img/header-images/header-om.jpg');
}

.cta {
  margin-top: 12rem;
}

@media screen and (min-width: 960px){

  .left + figure,
  .right + figure {
    top: calc(3.4 * 4rem);
  }

  #juan {
    margin-top: 4rem;
  }

  #cecare {
    margin: -4rem auto 0;
    z-index: 1;
  }

  #roberto {
    margin: -4rem auto -4rem ;
    z-index: 0;
  }

  #camilla {
    margin: -4rem auto 0;
    z-index: 1;
  }

  #camilla p {
    padding-bottom: 4rem;
  }

  /* change the crop of the images */
  #juan figure img,
  #cecare figure img,
  #roberto figure img {
    transform: translateY(-10%);
  }
}
