body {
  background-image: url('../img/header-images/header-catering.jpg');
}
  
.container footer {
  font-family: 'Lato', sans-serif;
  font-size: .8rem;
  line-height: 1;
}

/* Mobile first */
@media screen and (min-width: 960px){

  #recommendation-nets-rommen {
    margin-top: -8rem;
    z-index: 2;
  }

  h3 {
    line-height: 1.2;
  }

  .nets-logo {
    margin: 2em 0 4em 0;
  }

}
